<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="config-${config.mode}.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="HIBERNATE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="HIBERNATE-SCHEMA"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.schema.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.schema.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="HIBERNATE-SQL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.sql.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.sql.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="SPRING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.spring.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.spring.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="HIBERNATE-SCHEMA-UPDATE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.schema.update.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%msg%n</Pattern>
		</layout>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${amity.log.dir:-/var/tmp/logs/unknown}/amity-server.hibernate.schema.update.%i.log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>20MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="org.hibernate.SQL" level="DEBUG" additivity="true">
		<appender-ref ref="HIBERNATE-SQL" />
	</logger>

	<logger name="org.hibernate.type" level="ALL" additivity="true">
		<appender-ref ref="HIBERNATE-SQL" />
	</logger>

	<logger name="org.hibernate.tool.hbm2ddl.SchemaUpdate" level="ALL"
		additivity="true">
		<appender-ref ref="HIBERNATE-SCHEMA-UPDATE" />
	</logger>
	
	<logger name="org.hibernate.tool.hbm2ddl" level="DEBUG"
		additivity="true">
		<appender-ref ref="HIBERNATE-SCHEMA" />
	</logger>

	<logger name="org.hibernate" level="DEBUG" additivity="true">
		<appender-ref ref="HIBERNATE" />
	</logger>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="SPRING" />
	</logger>

	<logger name="net.sf.ehcache" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.jingyusoft.amity" level="ALL" additivity="true">
		<appender-ref ref="FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>